@font-face {
    font-family: 'FoundryMonolineOT3W08-Md';
    src: url('FoundryMonolineOT3W08-Md.woff2') format('woff2'),
        url('FoundryMonolineOT3W08-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

